<template>
  <div id="app">
    <!--<router-view/>-->
    <carousel>
      <carousel-slide v-for=" n in slides" v-bind:key="n">
        <div style="position:absolute; left:0; right:0; text-align:center; top:50%;
        color:#FFF; font-size:16px; ">
          Ciao
        </div>
        <div class="image">
          <img :src="'https://picsum.photos/id/' + n + '/630/300'" width=100%>
        </div>
      </carousel-slide>
    </carousel>
    <!-- VOIR FIN DU TUTO POUR IMPLEMENTATION D'AJOUT DYNAMIQUE D'UN SLIDE
    <button @click="addSlide">Ajouter un slide</button> -->
    <todos v-model="todos"></todos>
    <todos v-model="todos"></todos>
    <button @click="addTodo">Ajouter une tâche</button>
  </div>
</template>

<script>
import Todos from './components/Todos'
import Carousel from './components/carousel/Carousel'
import CarouselSlide from './components/carousel/CarouselSlide'

export default {
  name: 'App',
  components: {
    Todos,
    Carousel,
    CarouselSlide
  },
  data () {
    return {
      slides: 5,
      todos: [{
        name: 'Exemple de démo',
        completed: true
      }]
    }
  },
  methods: {
    addTodo () {
      this.todos.push({
        name: 'Jean',
        completed: false
      })
    }
  }
}
</script>

<style>
/* #app {
 font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3f53;
  margin-top: 60px;
} */
.image{
  text-align: center;
}
</style>
