<template>
  <section class="todoapp">
    <header class="header">
      <h1>Todos</h1>
      <input
        type="text"
        class="new-todo"
        placeholder="Ajouter une nouvelle tache"
        v-model="newTodo"
        @keyup.enter="addTodo"
      />
    </header>
    <div class="main">
      <input type="checkbox" id="tout" v-model="allDone" />
      <label for="tout">Tout marquer comme fait</label>
      <ul class="todo-list">
        <li
          class="todo"
          v-for="todo in filteredTodos"
          v-bind:key="todo.name"
          v-bind:class="{completed: todo.completed, editing : todo === editing}"
        >
          <input type="checkbox" v-model="todo.completed" class="toggle" />
          <label @dblclick="editTodo(todo)">{{todo.name}}</label>
          <button class="destroy" @click.prevent="deleteTodo(todo)"></button>
          <input
            type="text"
            class="edit"
            v-model="todo.name"
            @keyup.enter="doneEdit"
            @keyup.esc="cancelEdit"
            @blur="doneEdit"
            v-focus="todo === editing"
          />
        </li>
      </ul>
    </div>
    <footer class="footer" v-show="todos.length > 0">
      <span class="todo-count">
        <strong>{{ remaining }}</strong> tache(s) à faire
      </span>

      <ul class="filters">
        <li>
          <a
            href="#"
            v-bind:class="{selected : filter === 'all'}"
            v-on:click.prevent=" filter = 'all'"
          >Tout</a>
        </li>

        <li>
          <a
            href="#"
            v-bind:class="{selected : filter === 'todo'}"
            v-on:click.prevent=" filter = 'todo'"
          >A faire</a>
        </li>

        <li>
          <a
            href="#"
            v-bind:class="{selected : filter === 'done'}"
            @click.prevent="filter= 'done'"
          >Faites</a>
        </li>
        <li>
          <a href="#" v-show="completed" @click.prevent="deleteCompleted">Tout supprimer</a>
        </li>
      </ul>
    </footer>
  </section>
</template>

<script>
import Vue from 'vue'
export default {
  props: {
    value: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      todos: this.value,
      newTodo: '',
      filter: 'all',
      editing: null,
      oldTodo: ''
    }
  },
  watch: {
    value (value) {
      this.todos = value
    }
  },
  methods: {
    addTodo () {
      this.todos.push({
        name: this.newTodo,
        completed: false
      })
      this.newTodo = ''
    },
    deleteTodo (todo) {
      this.todos = this.todos.filter(t => t !== todo)
      this.$emit('input', this.todos)
    },
    deleteCompleted () {
      this.todos = this.todos.filter(t => !t.completed)
      this.$emit('input', this.todos)
    },
    editTodo (todo) {
      this.editing = todo
      this.oldTodo = todo.name
    },
    doneEdit () {
      this.editing = false
    },
    cancelEdit () {
      this.editing.name = this.oldTodo
      this.doneEdit()
    }
  },
  computed: {
    remaining () {
      return this.todos.filter(todo => !todo.completed).length
    },
    completed () {
      return this.todos.filter(todo => todo.completed).length > 0
    },
    filteredTodos () {
      if (this.filter === 'todo') {
        return this.todos.filter(todo => !todo.completed)
      } else if (this.filter === 'done') {
        return this.todos.filter(todo => todo.completed)
      } else {
        return this.todos
      }
    },
    allDone: {
      get () {
        return this.remaining === 0
      },
      set (value) {
        this.todos.forEach(todo => (todo.completed = value))
      }
    }
  },
  directives: {
    focus (el, value) {
      if (value) {
        //  on attends le rechargement de DOM avant de faire le focus
        Vue.nextTick(_ => {
          el.focus()
        })
      }
    }
  }
}
</script>
<style src="../assets/css/todos.css"></style>
