<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Tuto Vue</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="watch-example">
        <p>
          Posez votre question (réponse par Oui ou Non) :
          <input v-model="question">
        </p>
        <p>{{ answer }}</p>
    </div>

<!-- Puisqu'il y a déjà un riche écosystème de bibliothèques ajax      -->
<!-- et de collections de méthodes d'utilité générale, en ne les       -->
<!-- réinventant pas, le noyau de Vue peut rester petit. Cela vous     -->
<!-- donne aussi la liberté d'utiliser tout ce qui vous est familier. -->
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>
var watchExampleVM = new Vue({
  el: '#watch-example',
  data: {
    question: '',
    answer: 'Je ne peux pas vous donner une réponse avant que vous ne posiez une question !'
  },
  watch: {
    // à chaque fois que la question change, cette fonction s'exécutera
    question: function (newQuestion, oldQuestion) {
      this.answer = "J'attends que vous arrêtiez de taper..."
      this.debouncedGetAnswer()
    }
  },
  created: function () {
    // _.debounce est une fonction fournie par lodash pour limiter la fréquence
    // d'exécution d'une opération particulièrement couteuse.
    // Dans ce cas, nous voulons limiter la fréquence d'accès à
    // yesno.wtf/api, en attendant que l'utilisateur ait complètement
    // fini de taper avant de faire la requête ajax. Pour en savoir
    //  plus sur la fonction `_.debounce` (et sa cousine
    // `_.throttle`), visitez : https://lodash.com/docs#debounce
    this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
  },
  methods: {
    getAnswer: function () {
      if (this.question.indexOf('?') === -1) {
        this.answer = "Les questions contiennent généralement un point d'interrogation. ;-)"
        return
      }
      this.answer = 'Je réfléchis...'
      var vm = this
      axios.get('https://yesno.wtf/api')
        .then(function (response) {
          vm.answer = _.capitalize(response.data.answer)
        })
        .catch(function (error) {
          vm.answer = "Erreur ! Impossible d'accéder à l'API. " + error
        })
    }
  }
})
</script>
</body>
</html>
