<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Tuto Vue</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

  <div id="app" class="toto" class="titi">
    {{ message }}
  </div>
  <script>
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue !'
        }
      })
  </script>
  <hr />
<!-- ************************************************************************ -->
  <div id="app-2">
      <span v-bind:title="message">
        Passez votre souris sur moi pendant quelques secondes
        pour voir mon titre lié dynamiquement !
      </span>
  </div>
  <script>
      var app2 = new Vue({
        el: '#app-2',
        data: {
          message: 'Vous avez affiché cette page le ' + new Date().toLocaleString()
        }
      })
  </script>
    <hr />
<!-- ************************************************************************ -->
  <div id="app-3">
      <p v-if="seen">Maintenant vous me voyez</p>
  </div>
  <script>
    var app3 = new Vue({
      el: '#app-3',
      data: {
        seen: true
      }
    })
  </script>
    <hr />
<!-- ************************************************************************ -->
<div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
</div>
<script>
    var app4 = new Vue({
      el: '#app-4',
      data: {
        todos: [
          { text: 'Apprendre JavaScript' },
          { text: 'Apprendre Vue' },
          { text: 'Créer quelque chose de génial' }
        ]
      }
    })
</script>
  <hr />
<!-- ************************************************************************ -->
<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Message retourné</button>
</div>
<script>
  var app5 = new Vue({
    el: '#app-5',
    data: {
      message: 'Hello Vue.js !'
    },
    methods: {
      reverseMessage: function () {
        this.message = this.message.split('').reverse().join('')
      }
    }
  })
</script>
  <hr />
<!-- ************************************************************************ -->
<div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
</div>
<script>
  var app6 = new Vue({
    el: '#app-6',
    data: {
      message: 'Hello Vue !'
    }
  })
</script>
  <hr />
<!-- ************************************************************************ -->
<div id="app-7">
  <ol>
    <!--
      Maintenant nous fournissons à chaque todo-item l'objet todo
      qu'il représente de manière à ce que son contenu puisse être dynamique.
      Nous avons également besoin de fournir à chaque composant une « clé »,
      mais nous expliquerons cela plus tard.
    -->
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id"
    >
    </todo-item>
  </ol>
</div>
  <hr />
<script>
Vue.component('todo-item', {
  props: ['todo'],
  template: '<li>{{ todo.text }}</li>'
})

  var app7 = new Vue({
    el: '#app-7',
    data: {
      groceryList: [
        { id: 0, text: 'Légumes' },
        { id: 1, text: 'Fromage' },
        { id: 2, text: 'Tout ce que les humains sont supposés manger' }
      ]
    }
  })
</script>
  <hr />
<!-- ************************************************************************ -->
<div id="app-8">
    <p>{{ message }}</p>
    <img :src="image">
    <button @click="changePhoto">Changer photo</button>
</div>
<script>
  var app8 = new Vue({
    el: '#app-8',
    data: {
      message: 'Ma super photo',
      image:'/home/jamel/work-space/gta/images/gta/un.jpg'
    },
    methods: {
      changePhoto: function () {
        if(this.image =='/home/jamel/work-space/gta/images/gta/un.jpg')
        {
          this.image ='/home/jamel/work-space/gta/images/gta/deux.jpg'
          
        } else {
          this.image ='/home/jamel/work-space/gta/images/gta/un.jpg'
        }
      }
    }
  })
</script>
  <hr />
<!-- ************************************************************************ -->

</body>
</html>
